
<!doctype html>
<html>
  <head>
    <title>{{ titulo }}</title>
  </head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
	 crossorigin="anonymous">
	</script>
	<script src="https://code.jquery.com/jquery-1.10.2.js">
	</script>
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">
	</script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

	<script src="static/script.js"></script>


<body style="background-color:#aab7b8;">

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="static/images/lista.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Listado de Tareas
  </a>
</nav>

  {% block body %}

  {% endblock %}
<br>
<br>
<br>
<br>
<br>


<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">&#169;user</span>
</nav>

</body>

</html>
